button {
    display: inline-block;
    border: 0;
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background: black;
    border-radius: 10rem;
    box-shadow: $shadow-none;
    transition: box-shadow 0.25s ease;

    &:hover {
        box-shadow: $shadow-darker;
    }
}
