.form-row {
    display: flex;
    gap: 2rem;
    @include breakpoint-tablet {
        flex-wrap: wrap;
        gap: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .form-group {
        flex: 1;
        @include breakpoint-tablet {
            flex: auto;
            width: 100%;
        }
    }
}

.form-group {
    display: block;
    margin-bottom: 2rem;
    @include breakpoint-tablet {
        margin-bottom: 2rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    label {
        display: block;
        color: black;
        margin-bottom: 0.5rem;
    }

    input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"], textarea, select {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid darken(white, 15%);
        box-sizing: border-box;
        border-radius: 0.25rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: #666;
    }
}

.form-row > .form-group:last-child {
    margin-bottom: 1rem;
    @include breakpoint-tablet {
        margin-bottom: 2rem;
    }
}

.form-required {
    color: red;
    margin-left: 0.25rem;
}

:is(textarea, select, input):not([type="checkbox"], [type="radio"]):has(+ .form-error) {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-error {
    color: black;
    background: tomato;
    padding: 1rem;
    border-radius: 0.5rem;

    p:last-child {
        margin-bottom: 0;
    }
}

:is(textarea, select, input) + .form-error {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
