html, body {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[v-cloak] {
    display: none;
}

a[href] {
    color: transparent;
    font-weight: 800;
    background-image: linear-gradient(90deg, steelblue, darkblue 50%, limegreen calc(50% + 1px), yellowgreen);
    background-clip: text;
    background-size: 200%;
    border-bottom: 1px solid yellowgreen;
    line-height: 1.5;
    text-decoration: none;
    transition: background-position 0.25s ease, border-color 0.25s ease;
    @media print {
        color: blue;
        border-bottom: 0;
        text-decoration: underline;
        background-clip: inherit;
    }

    &:visited {
        background: purple;
        background-clip: text;
        border-color: purple;
    }

    &:hover {
        background-position: -100%;
        border-color: limegreen;
    }
}

a.main-content-skip {
    position: absolute;
    left: 50%;
    transform: translateY(-200%);

    &:focus {
        transform: translateY(1rem);
        z-index: 9999;
        padding: 1rem;
        color: white;
        background: black;
        border: 2px solid black;
        border-radius: 1rem;
        box-shadow: $shadow;
        outline-color: #00a6ef;
    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 1680px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 1679px) {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
