html, body {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[v-cloak] {
    display: none;
}

a.main-content-skip {
    position: absolute;
    left: 50%;
    transform: translateY(-200%);

    &:focus {
        transform: translateY(1rem);
        z-index: 9999;
        padding: 1rem;
        color: white;
        background: black;
        border: 2px solid black;
        border-radius: 1rem;
        box-shadow: $shadow;
        outline-color: #00a6ef;
    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 1680px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 1679px) {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
