.ul, .ol {
    padding-left: 2rem;
    margin-bottom: 1rem;

    li {
        line-height: 1.5;
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        ol, ul {
            margin-top: 1rem;
            margin-left: 2rem;
        }
    }
}

.ul {
    list-style: disc outside;

    ul {
        list-style: circle outside;
    }
}

.ol {
    list-style: numeric outside;

    ol {
        list-style: lower-roman outside;
    }
}