@mixin breakpoint-mobile {
    @media (max-width: $breakpoint-mobile) {
        @content
    }
}

@mixin breakpoint-tablet {
    @media (max-width: $breakpoint-tablet) {
        @content
    }
}

@mixin breakpoint-legacy {
    @media (max-width: $breakpoint-legacy) {
        @content
    }
}
