h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p {
    max-width: 72ch;
    line-height: 1.5;
    margin-bottom: 1rem;
}

strong {
    color: black;
    font-weight: 800;
}

em {
    font-style: italic;
}

.text-center {
    text-align: center;
}
