$shadow-none: 0 0 0 rgba(0, 0, 0, 0);
$shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 15px -5px rgba(0, 0, 0, 0.25);
$shadow-inverted: 0 -20px 25px -5px rgba(0, 0, 0, 0.15), 0 -10px 15px -5px rgba(0, 0, 0, 0.25);
$shadow-darker: 0 20px 25px -5px rgba(0, 0, 0, 0.25), 0 10px 15px -5px rgba(0, 0, 0, 0.35);
$shadow-darker-inverted: 0 -20px 25px -5px rgba(0, 0, 0, 0.25), 0 -10px 15px -5px rgba(0, 0, 0, 0.35);
$shadow-lighter: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 15px -5px rgba(0, 0, 0, 0.15);
$shadow-lighter-inverted: 0 -20px 25px -5px rgba(0, 0, 0, 0.05), 0 -10px 15px -5px rgba(0, 0, 0, 0.15);
$shadow-inset: 0 20px 25px -5px rgba(0, 0, 0, 0.15) inset, 0 10px 15px -5px rgba(0, 0, 0, 0.25) inset;
$shadow-inset-darker: 0 20px 25px -5px rgba(0, 0, 0, 0.25) inset, 0 10px 15px -5px rgba(0, 0, 0, 0.35) inset;
$shadow-inset-lighter: 0 20px 25px -5px rgba(0, 0, 0, 0.05) inset, 0 10px 15px -5px rgba(0, 0, 0, 0.15) inset;
$shadow-smaller: 0 10px 15px -5px rgba(0, 0, 0, 0.15), 0 5px 10px -5px rgba(0, 0, 0, 0.25);
